* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 10px;
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../css/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../css/fonts/Roboto-Bold.ttf");
}

/* Модальное окно */
dialog {
  background: none;
}

.dialog-font {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.dialog-open {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 101;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.dial {
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: rgba(48, 48, 48, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 101;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dialog-article {
  width: 90%;
  height: 80%;
  text-align: left;
  margin: 0 auto;
}

.article-contents {
  width: 100%;
}

.article-contents-list {
  color: #fff;
  font-size: 2rem;
  margin-left: 20px;
}

.article-contents-list li {
  margin-bottom: 10px;
}

.article-contents-link,
.article-list-li {
  font-size: 2rem;
  font-family: Roboto;
  color: #fff;
  text-decoration: none;
}

.article-contents-link:hover {
  text-decoration: underline;
}

.article-instruction {
  width: 100%;
  padding-bottom: 20px;
}

.article-instruction h3 {
  text-align: center;
  font-family: Roboto;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.article-contents-image {
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.dialog-open__label {
  font-family: Roboto;
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 10px;
  margin-bottom: 2rem;
  text-align: center;
}

.dialog-open__text {
  font-family: Roboto;
  color: #fff;
  font-size: 2.0rem;
  letter-spacing: 1px;
  width: 100%;
  /* text-align: center; */
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  right: 40px;
  top: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button span:nth-child(1) {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #fff;
  z-index: 101;
  transform: rotate(-45deg);
}

.close-button span:nth-child(2) {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #fff;
  z-index: 101;
  transform: rotate(45deg);
}


.info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 30px;
  left: 50px;
  width: 40px;
  height: 40px;
  font-size: 2.0rem;
  font-family: Roboto;
  color: #fff;
  background: #192592;
  cursor: pointer;
  z-index: 10;
}

.info__content {}

/* Шапка (заголовок) */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  position: relative;
}

.header-title {
  color: #000000;
  text-align: center;
  font-family: Roboto;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.time {
  position: absolute;
  right: 50px;
  top: 40px;
  font-family: Roboto;
  font-size: 2rem;
}

.date-block {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.date-input,
.time-input,
.btn-save-date {
  min-width: 100px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #192592;
  text-align: center;
  font-size: 1.5rem;
}

.btn-save-date {
  color: #fff;
  background: #192592;
  cursor: pointer;
}

/* Вводные данные */

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.wrapper-block-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 20vw; */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper-block-1_block {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrapper-block-inp {
  display: flex;
  width: 250px;
  flex-direction: column;
}

.wrapper-block-inp-title {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wrapper-block-inp-text {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #192592;
  background: #fff;
  font-size: 1.6rem;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper-block-btn {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.wrapper-block-btn input {
  margin: 1%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #192592;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper-block-2 {
  display: flex;
  justify-content: start;
  width: 95%;
  margin: 0 auto;
}

.wrapper-block-2_table {
  width: 100%;
  border-collapse: collapse;
}

/* Таблица */

.table_tr {
  max-width: 1900px;
  min-width: 1800px;
}

.table_td-title {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid#192592;
  padding: 3px;
}

.table_td {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid#192592;
  padding: 3px;
}

.table_td-a {
  transform: rotate(90deg);
  width: 40px;
}

.table_td a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
  text-align: center;
}

.table_td-drop {
  background-color: #ccc;
  text-align: center;
}

.td-up {
  color: #008b83;
  transform: rotate(90deg);
}

.td-down {
  color: #0082ba;
  transform: rotate(90deg);
}

.td-del {
  color: #d00303;
  font-size: 2rem !important;
}

.td-edit {
  color: #22a122;
  font-size: 2rem !important;
  margin: 7px;
}

.td-del-edit {
  color: #dd3529;
  font-size: 2rem !important;
  margin: 7px;
}

.tr-ready {
  background: #16b813;
}

/* Подвал сайта */

.footer {
  display: flex;
  /* width: 100%; */
  justify-content: space-around;
  margin: 3%;
  flex-wrap: wrap;
}

.footer button {
  margin: 10px;
}

.footer-block {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn-orange {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #ffa600;
  color: #ffa600;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.btn-orange:hover {
  background: #ffa600;
  color: #fff;
}

.btn-blue {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #192592;
  color: #192592;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.btn-blue:hover {
  background: #192592;
  color: #fff;
}

.btn-green {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #16b813;
  color: #16b813;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.btn-green:hover {
  background: #16b813;
  color: #fff;
}

.btn-red {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #da0000;
  color: #da0000;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.btn-red:hover {
  background: #da0000;
  color: #fff;
}

/*  */

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
}

.table th,
.table td {
  padding: 0.5rem;
}

.draggable {
  cursor: move;
  user-select: none;
}

.placeholder {
  background-color: #edf2f7;
  border: 2px dashed #cbd5e0;
}

.clone-list {
  border-top: 1px solid #ccc;
}

.clone-table {
  border-collapse: collapse;
  border: none;
}

.clone-table th,
.clone-table td {
  border: 1px solid #ccc;
  border-top: none;
  padding: 0.5rem;
}

.dragging {
  background: #fff;
  border-top: 1px solid #ccc;
  z-index: 999;
}